@import url('https://fonts.googleapis.com/css?family=Barlow|Roboto+Mono&display=swap');

body {
    background-color: #073763;
}

.container {
    width: 615px;
    height: 421px;
    margin: auto;
    margin-top: 5%;
    border-radius: 2%;
    background-color: #f3efea;
}

header, main {
    text-align: center;
}

header {
    padding-top: 2%;
}

a {
    text-decoration: none;
    color: black;
}

h1, h2, h3, h4 {
    font-family: 'Barlow', sans-serif;
}

p {
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
}

section span {
    display: inline;
    font-family: 'Barlow', sans-serif;
}

#button {
    font-family: 'Barlow', sans-serif;
}

#madLibStory {
    padding-top: 2%;
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
}